<div class="header">
  <div class="left-froggy">
    <button mat-flat-button color="primary" routerLink="/events">Event</button>
    <button mat-flat-button color="primary" routerLink="/">Categories</button>
  </div>
  <div class="right-froggy">
    <button mat-mini-fab color="primary">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>
