<mat-card class="event-card">
  <mat-card-header>
    <mat-card-title>{{event.name}}</mat-card-title>
    <mat-card-subtitle>{{event.location}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
       class="event-card-img"
       src="{{event.imgUrl ? event.imgUrl : 'https://tinyurl.com/mvpk5u97'}}"
       alt="Photo of the event">
  <mat-card-content class="event-card-content">
    {{event.description}}
  </mat-card-content>
</mat-card>
