.event-card{
  width: 300px;
  margin: 30px 15px 0px 15px;
  cursor: pointer;
}
.event-card-img{
  height: 150px;
  object-fit: contain;
}
.event-card-content{
  padding-top: 20px;
  height: 100px;
  overflow: hidden;
}
