.event-card-container{
  padding: 0 30px 0 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.events-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
